@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-tree-check {
  font-size: 3vw;
  font-weight: bold;
}
.main-date {
  font-size: 2vw;
}
.main-box-container {
  @apply flex justify-around h-2/3;
}
.main-page-container {
  // position: relative;
  grid-template-areas:
    '. a .'
    'b c d';
  @apply grid w-[55%] max-h-full;
}

.main-page-btn-top {
  grid-area: a;
  @apply flex justify-around self-end;
}

.main-day-btn {
  background-color: #fface4;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
  font-size: 1vw;
  font-weight: bold;
  // position: absolute;
  transform-origin: bottom;
}

/* 개별 버튼에 대한 위치 설정 */
#monday {
  // left: 7%;
  // top: 29vh;
  grid-area: b;
  @apply justify-self-end;
}
#tuesday {
  // left: 22%;
  // top: 12vh;
  @apply mt-[3vh];
}
#wednesday {
  // left: 50%;
  // top: 5vh;
  @apply mb-[7vh];
}
#thursday {
  // left: 78%;
  // top: 12vh;
  @apply mt-[3vh];
}
#friday {
  // left: 93%;
  // top: 29vh;
  grid-area: d;
  @apply justify-self-start;
}

.main-tree-container {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  border: 1vw solid slategrey;
  top: 18vh;

  grid-area: c;
  @apply justify-self-center self-center max-h-fit;
}

.main-todo-container {
  @apply w-1/4;
}

.main-todo-list {
  @apply h-full bg-slate-300 rounded-lg overflow-y-auto p-5;

  &-title {
    @apply text-xl py-2 text-center;
  }
}

.main-bud-list {
}
