.xxsmall {
  width: 7vw;
  height: 3vh;
  font-size: 1vw;
  border-radius: 4px;
  padding: 0;
}

.xsmall {
  height: 2.5vh;
  font-size: 0.7rem;
  border-radius: 4px;
  @apply px-[1vw];
}

.small {
  height: 3.5vh;
  font-size: 0.8rem;
  border-radius: 4px;

  @apply px-[1vw];
}

.normal {
  height: 4vh;
  font-size: 1rem;
  border-radius: 8px;
  @apply px-3;
}

.large {
  width: 360px;
  height: 60px;
  font-size: 1.5rem;
  border-radius: 8px;
}

.long {
  @apply w-full rounded px-3;
}

.primary {
  background-color: #3579d4;
  color: #fff;
  border: #3579d4;
}

.gray {
  background-color: #8595a9;
  color: #fff;
  border: #8595a9;
}

.red {
  background-color: #ee7279;
  color: #fff;
  border: #ee7279;
}

.button {
  cursor: pointer;
}
